DATABASE_URL=
PRIVY_PROJECT_ID=
PRIVY_PROJECT_SECRET=
PRIVY_APP_ID=
NATS_URL=
NODE_ENV=
WS_CORS_ORIGINS=
ORDER_WORKER_ENABLED=false
# AUTH_MODE=development # for development only, enables a mock auth strategy that bypasses Privy and returns a fixed user ID and wallet address. Do not enable in production.